body {
  margin: 0;
  width: auto;
  height: auto;
  background: #1d1f21;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ced0d3;
}

.index-h2 {
  color: #606367;
}

time {
  color: #606367;
}

p {
  text-align: center;
  color: #ced0d3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}


.block-content {
  margin: auto;
  text-align: center;
  width: 35%;
  height: auto;
  padding-top: 525px;
  padding-left: 32px;
  padding-right: 32px;
}

.block-content h1 {
  display: block;
  font-size: 28px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.block-content p {
  display: block;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}




.main-nav {
  display: flex;
  padding: 35px;
}

/* This little push class was used to split the navbar in the way I have it currently*/
.push {
    margin-left: auto;
}


/* This part does the color transition when hovered on.*/

.main-nav li {

    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

ul {
  list-style-type: none;
}

.main-nav a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

.main-nav a:hover {
    color: black;
}

.navbar {
  display: flex;
  align-items: flex-end; /*Centered the links, alongside padding*/
  height: 70px;
  margin: 0;
  background-color: #161719;
}

.navbar li {
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.navbar a {
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.5s;
}

.navbar a:hover {
  color: #38476b;
}



/* header background */
.header_img {
  height: 525px;
  width: 100%;
  position: absolute;
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  background-position: 0%, 0%, 0%, 0%;
  background-attachment: scroll, fixed;
  background-size: cover;
}


.header_img::after {
  clear: both;
}


/* footer */

footer {
  display: block;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: #161719;
}

.social {
  text-align: center;
}
